In [131]:
sarasas = [4, 3, 9, 6, 2]

rezultatas = []
for skaicius in sarasas:
    rezultatas.append(skaicius ** 2)

print(rezultatas)

[16, 9, 81, 36, 4]

Lambda funkcijos

In [132]:
kvadratu = lambda x: x ** 2 # atspats kaip funkcija su return
print(kvadratu(4))

16

In [133]:
lambda x: x ** 2

In [134]:
def kvadratu(x):
    return x * 2

In [135]:
# map funkcija ivykdo argumente nurodyta funkcija, antrame argumente nurodyta elementui 
naujas = list(map(lambda x: x ** 2, sarasas))
print(list(naujas))

[16, 9, 81, 36, 4]

In [136]:
print(list(map(lambda x: x ** 3, sarasas))) # su map() funkcija taikoma tik iteruojamiems objektams. map() pritaiko kitos funkcijos veikikma viasm sarasui

[64, 27, 729, 216, 8]

In [137]:
print(list(map(kvadratu, sarasas))) # pavyzdys kad map galima naudi su betkokia funkcija

[8, 6, 18, 12, 4]

In [138]:
import math
print(list(naujas))
print(list(map(math.sqrt, naujas))) # gaunam float atsakyma # eiliskumas prasideda is desines i kaire (nuo vidiniu skliaustu i isorinius)
print(list(map(int, list(map(math.sqrt, naujas))))) # guanam int atsakyma # eiliskumas prasideda is desines i kaire (nuo vidiniu skliaustu i isorinius)

[16, 9, 81, 36, 4]
[4.0, 3.0, 9.0, 6.0, 2.0]
[4, 3, 9, 6, 2]

Triukai su map

In [139]:
data = "2022-02-22"
ymd = map(int, data.split("-"))
print(list(ymd))

[2022, 2, 22]

In [140]:
data = "1999-12-31"
metai, menuo, diena = map(int, data.split("-"))
print(metai, menuo, diena)

1999 12 31

In [141]:
import datetime
print(datetime.date(metai, menuo, diena))

1999-12-31

In [142]:
datele = "1983-03-19"
gimtadienis = datetime.date(*map(int, datele.split("-")))
print(gimtadienis)
print(type(gimtadienis))

1983-03-19
<class 'datetime.date'>

In [143]:
datele = "1983-03-19"
gimtadienis = datetime.datetime.strptime(datele, "%Y-%m-%d")
print(gimtadienis.date())

1983-03-19

# filter() funkcija

In [144]:
sarasas = [4, 3, 7, 9, 6, 2]
def lyginiais(sarasas):
    atsakymas = []
    for skaicius in sarasas:
        if skaicius % 2 ==0:
            atsakymas.append(skaicius)
    return atsakymas
print(lyginiais(sarasas))

[4, 6, 2]

In [145]:
is_triju = list(filter(lambda skaicius: skaicius % 3 == 0, sarasas)) # lambda skirta vienkartinem anoniminem funkcijom
print(is_triju)

[3, 9, 6]

In [146]:
def is_triju(skaicius):
    return skaicius % 3 == 0

print(list(filter(is_triju, sarasas))) # filter() reikalauja logines israiskos

[3, 9, 6]

In [147]:
from calendar import isleap # keliamieji metai (easy mdoe)
metai = range(2122)
print(list(filter(isleap, metai)))

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252, 256, 260, 264, 268, 272, 276, 280, 284, 288, 292, 296, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400, 404, 408, 412, 416, 420, 424, 428, 432, 436, 440, 444, 448, 452, 456, 460, 464, 468, 472, 476, 480, 484, 488, 492, 496, 504, 508, 512, 516, 520, 524, 528, 532, 536, 540, 544, 548, 552, 556, 560, 564, 568, 572, 576, 580, 584, 588, 592, 596, 604, 608, 612, 616, 620, 624, 628, 632, 636, 640, 644, 648, 652, 656, 660, 664, 668, 672, 676, 680, 684, 688, 692, 696, 704, 708, 712, 716, 720, 724, 728, 732, 736, 740, 744, 748, 752, 756, 760, 764, 768, 772, 776, 780, 784, 788, 792, 796, 800, 804, 808, 812, 816, 820, 824, 828, 832, 836, 840, 844, 848, 852, 856, 860, 864, 868, 872, 876, 880, 884, 888, 892, 896, 904, 908, 912, 916, 920, 924, 928, 932, 936, 940, 944, 948, 952, 956, 960, 964, 968, 972, 976, 980, 984, 988, 992, 996, 1004, 1008, 1012, 1016, 1020, 1024, 1028, 1032, 1036, 1040, 1044, 1048, 1052, 1056, 1060, 1064, 1068, 1072, 1076, 1080, 1084, 1088, 1092, 1096, 1104, 1108, 1112, 1116, 1120, 1124, 1128, 1132, 1136, 1140, 1144, 1148, 1152, 1156, 1160, 1164, 1168, 1172, 1176, 1180, 1184, 1188, 1192, 1196, 1200, 1204, 1208, 1212, 1216, 1220, 1224, 1228, 1232, 1236, 1240, 1244, 1248, 1252, 1256, 1260, 1264, 1268, 1272, 1276, 1280, 1284, 1288, 1292, 1296, 1304, 1308, 1312, 1316, 1320, 1324, 1328, 1332, 1336, 1340, 1344, 1348, 1352, 1356, 1360, 1364, 1368, 1372, 1376, 1380, 1384, 1388, 1392, 1396, 1404, 1408, 1412, 1416, 1420, 1424, 1428, 1432, 1436, 1440, 1444, 1448, 1452, 1456, 1460, 1464, 1468, 1472, 1476, 1480, 1484, 1488, 1492, 1496, 1504, 1508, 1512, 1516, 1520, 1524, 1528, 1532, 1536, 1540, 1544, 1548, 1552, 1556, 1560, 1564, 1568, 1572, 1576, 1580, 1584, 1588, 1592, 1596, 1600, 1604, 1608, 1612, 1616, 1620, 1624, 1628, 1632, 1636, 1640, 1644, 1648, 1652, 1656, 1660, 1664, 1668, 1672, 1676, 1680, 1684, 1688, 1692, 1696, 1704, 1708, 1712, 1716, 1720, 1724, 1728, 1732, 1736, 1740, 1744, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1780, 1784, 1788, 1792, 1796, 1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096, 2104, 2108, 2112, 2116, 2120]

# reduce() funkcija

In [148]:
from functools import reduce
sarasas = [4, 3, 7, 9, 6, 2]

# sumuojam sarasa be ciklo
nauajs = reduce(lambda x, y: x + y, sarasas)
print(nauajs)

31

In [149]:
from functools import reduce
sarasas = [4, 3, 7, 9, 6, 2]

# daugybos reduktorius
nauajs = reduce(lambda x, y: x * y, sarasas)
print(nauajs)

9072

# statistines funkcijos

In [150]:
sarasas = [4, 3, -5, 2, 1, 5, -7, 6, 7, 0, 10, 9, 8, -10, -9]

In [151]:
from statistics import mean, median

print("suma: ", sum(sarasas))
print("min: ", min(sarasas))
print("max: ", max(sarasas))
print("vidurkis: ", mean(sarasas))
print("mediana: ", median(sarasas))
print("skaiciu: ", len(sarasas))

suma:  24
min:  -10
max:  10
vidurkis:  1.6
mediana:  3
skaiciu:  15

# rusiavimas

In [152]:
print(sorted(sarasas)) # rusiuoja nuo maziausio iki didziausio

[-10, -9, -7, -5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [153]:
sarasas.sort() # sarasa galima pakeisti proceduriskai
print(sarasas)

[-10, -9, -7, -5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [154]:
print(sorted(sarasas, reverse=True))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -5, -7, -9, -10]

In [155]:
print(sarasas)

[-10, -9, -7, -5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [156]:
sarasas.sort(reverse=True) # tik sarasui veikia .sort visiem kitiem kaip tuple neveiks
print(sarasas)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -5, -7, -9, -10]

In [157]:
tupliux = (10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -5, -7, -9, -10)
sarasiux = sorted(tupliux) # taip veikia tuple sorted()
print(sarasiux)

[-10, -9, -7, -5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [158]:
print(sorted(range(1, 11), reverse=True))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [159]:
from time import sleep
for sec in sorted(range(1, 11), reverse=True):
    print(sec)
    sleep(1)
else:
    print("Liftoff!!")

10
9
8
7
6
5
4
3
2
1
Liftoff!!

## zodynu rusiavimas

In [160]:
zmogena = {
    "vardas": "Simas",
    "pavarde": "Venskus",
    "amzius": 28,
    "lytis": "neBoba",
    "atlyginimas": 2000,
    "vaisius": "abrikosas",
    "nuotaika": "!!!!!! gera"

}

print(sorted(zmogena))
print(sorted(list(map(str, zmogena.values()))))

['amzius', 'atlyginimas', 'lytis', 'nuotaika', 'pavarde', 'vaisius', 'vardas']
['!!!!!! gera', '2000', '28', 'Simas', 'Venskus', 'abrikosas', 'neBoba']

## objektu rusiavimas

In [161]:
class Darbuotojas:
    def __init__(self, vardas, pavarde, amzius=18, alga=0, lytis="vyras"):
        self.vardas = vardas
        self.pavarde = pavarde
        self.amzius = amzius
        self.alga = alga
        self.lytis = lytis 

    def __repr__(self):
        return f"{self.vardas} {self.pavarde}, uzdirba {self.alga} {self.amzius} metu, {self.lytis}"

d1 = Darbuotojas("Simas", "Venskus", 29, 2999)
d2 = Darbuotojas("Ingrida", "Vaitkuviene", 30, 3101, "moteris")
d3 = Darbuotojas("Linas", "Norkus", 30, 1999)
d4 = Darbuotojas("Darius", "Veteranas", 50, 5000)
darbuotojai = [d1, d2, d3, d4]

def rusiavimas(darbuotojas):
    return darbuotojas.alga

pagal_varda = sorted(darbuotojai, key=rusiavimas)
print(pagal_varda)

[Linas Norkus, uzdirba 1999 30 metu, vyras, Simas Venskus, uzdirba 2999 29 metu, vyras, Ingrida Vaitkuviene, uzdirba 3101 30 metu, moteris, Darius Veteranas, uzdirba 5000 50 metu, vyras]

In [162]:
def rusiavimas_pagal_alga(darbuotojas):
    return darbuotojas.alga

pagal_alga = sorted(darbuotojai, key=rusiavimas_pagal_alga)
print(pagal_alga)

[Linas Norkus, uzdirba 1999 30 metu, vyras, Simas Venskus, uzdirba 2999 29 metu, vyras, Ingrida Vaitkuviene, uzdirba 3101 30 metu, moteris, Darius Veteranas, uzdirba 5000 50 metu, vyras]

In [163]:
pagal_amziu = sorted(darbuotojai, key=lambda darbuotojas: darbuotojas.amzius)
print(pagal_amziu)

[Simas Venskus, uzdirba 2999 29 metu, vyras, Ingrida Vaitkuviene, uzdirba 3101 30 metu, moteris, Linas Norkus, uzdirba 1999 30 metu, vyras, Darius Veteranas, uzdirba 5000 50 metu, vyras]

In [164]:
from operator import attrgetter
pagal_pavarde = sorted(darbuotojai, key=attrgetter("pavarde"))
print(pagal_pavarde)

[Linas Norkus, uzdirba 1999 30 metu, vyras, Ingrida Vaitkuviene, uzdirba 3101 30 metu, moteris, Simas Venskus, uzdirba 2999 29 metu, vyras, Darius Veteranas, uzdirba 5000 50 metu, vyras]

# list comprehansion (saraso apibrezimas)

In [165]:
sarasas = [4, 3, -5, 2, 1, 5, -7, 6, 7, 0, 10, 9, 8, -10, -9]
teigiami = [skaicius for skaicius in sarasas if skaicius > 0]
print(teigiami)

[4, 3, 2, 1, 5, 6, 7, 10, 9, 8]

In [166]:
lyginiai = [skaicius for skaicius in sarasas if skaicius % 2 == 0]
print(lyginiai)

[4, 2, 6, 0, 10, 8, -10]

In [ ]:
lyginiai = []
for skaicius in sarasas:
    if skaicius % 2 == 0:
        lyginiai.append(skaicius)
print(lyginiai)

In [169]:
def lyginiai(skaiciai):
    rezultatas = []
    for skaicius in skaiciai:
        if skaicius % 2 == 0:
            rezultatas.append(skaicius)
    return rezultatas
print(lyginiai(sarasas))

[4, 2, 6, 0, 10, 8, -10]

In [170]:
kvadratai = [x ** 2 for x in sarasas]
print(kvadratai)

[16, 9, 25, 4, 1, 25, 49, 36, 49, 0, 100, 81, 64, 100, 81]

In [190]:
salotos  = ["Labas", "Rytas", 25, False, -1, 3.14, [1, 2, 3], {"vakar": -30}, 42.69, -3, "gera diena"]
int_kiekis = sum(type(elementas) is int for elementas in salotos)
print(int_kiekis)

skaiciu_kiekis = sum(type(elem) in (int, float) for elem in salotos)
print(skaiciu_kiekis)

skaiciai = [elem for elem in salotos if type(elem) in (int, float)]
print(skaiciai)

stringai = " ".join([elem for elem in salotos if type(elem) is str])
print(stringai)

3
5
[25, -1, 3.14, 42.69, -3]
Labas Rytas gera diena

In [ ]:
isinstance() # tikrina ar padaryta pagal klases sablona